# See https://next-drupal.org/docs/environment-variables&#10NEXT_PUBLIC_DRUPAL_BASE_URL=https://dev.next-drupal.org&#10NEXT_IMAGE_DOMAIN=dev.next-drupal.org&#10&#10# Required for On-demand Revalidation&#10DRUPAL_REVALIDATE_SECRET=secret